$color-black: #000 !default;
$color-white: #fff !default;

$color-primary: #2075FF !default;
$color-secondary: #F0F0F7 !default;
$color-success: #00CC22 !default;
$color-danger: #FB0000 !default;

$color-text: inherit !default;
$color-text-alt: #ccc !default;

$color-border: #dddddd !default;
$color-hover: #f5f5f5 !default;