@charset "utf-8";

@import "button";
@import "callout";
@import "heading";
@import "list";
@import "panel";
@import "paragraph";
@import "toolbar";
@import "ul";

@mixin components(
  $prefix: "", 
  $button: true, 
  $heading: true, 
  $panel: true,
  $toolbar: true
) {
  @if $button == true {
    @include button-classes();
  }

  @if $heading == true {
    @include heading-classes();
  }

  @if $panel == true {
    @include panel-classes();
  }

  @if $toolbar == true {
    @include toolbar-classes();
  }
}