$h3-color: $color-text !default;
$h3-font-size: $font-size-6 !default;
$h3-line-height: 1.2 !default;
$h3-margin: 0 0 $spacing-2 0 !default;

@mixin h3 {
  color: $h3-color;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin: $h3-margin;

  @if (mixin-exists(override-h3)) {
    @include override-h3();
  }
}
