$h4-color: $color-text !default;
$h4-font-size: $font-size-5 !default;
$h4-line-height: 1.2 !default;
$h4-margin: 0 0 $spacing-2 0 !default;

@mixin h4 {
  color: $h4-color;
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin: $h4-margin;

  @if (mixin-exists(override-h4)) {
    @include override-h4();
  }
}
