@import "_h1";
@import "_h2";
@import "_h3";
@import "_h4";
@import "_h5";
@import "_h6";

@mixin heading-classes(
  $include-h1: true,
  $include-h2: true,
  $include-h3: true,
  $include-h4: true,
  $include-h5: true,
  $include-h6: true
) {
  @if $include-h1 == true {
    @include block("h1") {
      @include h1();
    }
  }

  @if $include-h2 == true {
    @include block("h2") {
      @include h2();
    }
  }

  @if $include-h3 == true {
    @include block("h3") {
      @include h3();
    }
  }

  @if $include-h4 == true {
    @include block("h4") {
      @include h4();
    }
  }

  @if $include-h5 == true {
    @include block("h5") {
      @include h5();
    }
  }

  @if $include-h6 == true {
    @include block("h6") {
      @include h6();
    }
  }
}
